
    <div class="wrapper">

    <!-- Main Header -->
    <div header-widget></div>
    
    <!-- Left side column. contains the logo and sidebar -->
  	<div sidebar-widget></div>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           Dashboard
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
          

          <div class="row">
           
            <div class="col-md-7">
              <div class="box box-solid">
                <div class="box-header with-border">
                <!--   <i class="fa fa-text-width"></i> -->
                  <h3 class="box-title text-light-blue">Periodic Health Screening</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                <div class="pull-right image">
                <img src="assets/img/mediaassist.jpg" class="img-circle media-assist" alt="Media assist">
               </div>
              <!--     <p class="lead">Lead to emphasize importance</p>
                  <p class="text-green">Text green to emphasize success</p>
                  <p class="text-aqua">Text aqua to emphasize info</p>
                  <p class="text-light-blue">Text light blue to emphasize info (2)</p>
                  <p class="text-red">Text red to emphasize danger</p>
                  <p class="text-yellow">Text yellow to emphasize warning</p>
                  <p class="text-muted">Text muted to emphasize general</p> -->
                  <p>Medi Assist Healthcare Services provides Corporate Sponsored an Self-Funded Health Checks for you and your family.Please check the eligibility criteria for Corporate Sponsored Health Checks:
                  </p>
                  <p >
                  <ul>
                  <li class ="text-aqua">Employees above 40 years of age are eligible for company-sponsored Health Screening for self and spouse,<b>once in two financial years</b>
                  </li>
                  <li class ="text-aqua">Employees above 50 years of age or in SP grade are eligible for company-sponsored Health Screening for self and spouse,<b>once in a financial years</b>
                  </li>
                  </ul>
                 
                  <p>
                   you can always avail the packages at discounted rates for yourself and your family in case you are not eligible for a corporate sponsored package.
                  </p>
           <p> For any queries 1860-425-2662
           To know More <a href="#">Click here</a> &nbsp; To avail this benefit <a href="#">Click here</a>
           </p>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- ./col -->
             <div class="col-md-5">
              <div class="box box-solid top-box-height">
                <div class="box-header with-border top-box-header">
                 <!--  <i class="fa fa-text-width"></i> -->
                   <img src="assets/img/helplinelogo.png" class="helpline-logo" alt="helpline">
                <!--   <h3 class="box-title text-light-blue"></h3> -->
                </div>
                <div class="box-body box-padd">
                <p>Toll Free No. for Cashless : <b class="text-red"> 1800-4252-5555</b></p>
                </div>
                </div>
                </div>
             <div class="col-md-5">
              <div class="box box-solid">
                
                <div class="box-header with-border">
                 <!--  <i class="fa fa-text-width"></i> -->
                  <h3 class="box-title text-light-blue">Guides</h3>
                </div><!-- /.box-header -->
           
                <div class="box-body">
               <!--    <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                      <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                      </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                  </ul> -->
                  <p><button type="button" class="button-color"><a href="assets/pdf/Cashless Claims Guidelines.pdf" target="new" class="button-color">View</a></button> &nbsp;Claims Guide - Cashless</p>
                  <p><button type="button" class="button-color"><a href="assets/pdf/TCS-Health-Insurance-Hospitalisation_Claim_Reimbursement_Guidelines.pdf" target="new" class="button-color">View</a></button> &nbsp;Hospitalisation Claim Reimbursement Guidelines</p>
                   <p><button type="button" class="button-color"><a href="assets/pdf/TCS-Health-Insurance-Domiciliary_Claim_Reimbursement_Guidelines.pdf" target="new" class="button-color">View</a></button> &nbsp;Domiciliary Claim Reimbursement Guidelines</p>
                  <p><button type="button" class="button-color"><a href="#" target="new" class="button-color">View</a></button>&nbsp; Network Hospital List</p>
                   <p><button type="button" class="button-color"><a href="assets/pdf/DelistedHospitallist.xls" target="new" class="button-color">View</a></button>&nbsp; De-listed Hospitals/Clinics/Diagnostic Centres</p>
                  <p><button type="button" class="button-color-download"><a href="assets/pdf/CASHLESS_FORM.pdf" target="new" class="button-color-download">Download</a></button>&nbsp;Pre-Auth Form for Cashless Hospitalisation</p>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- ./col -->
            
          </div><!-- /.row -->
     <!--      
           <div class="row">
          
            
            <div class="col-md-4">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-text-width"></i>
                  <h3 class="box-title">Unstyled List</h3>
                </div>/.box-header
                <div class="box-body">
                  <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                      <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                      </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                  </ul>
                </div>/.box-body
              </div>/.box
            </div>./col
          </div>/.row -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <div footer-widget></div>
           
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    
