
    <div class="wrapper">

    <!-- Main Header -->
    <div header-widget></div>
    
    <!-- Left side column. contains the logo and sidebar -->
  	<div sidebar-widget></div>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
        PolicyDetails
          
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
        
         <div class="row">
           
            <div class="col-md-12">
              <div class="box box-solid">
                <div class="box-header with-border">
           
                  <h3 class="box-title text-light-blue">Policy details</h3>
                </div>
                <div class="box-body">
           <table border="1" width="100%">
          <tr>
           <td>Insurance Company</td>
        
            <td class="text-aqua">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The New India Assurance Co. Ltd</td>
           </tr>
           <tr>
           <td>Policy Holder Name</td>
          
           <td class="text-aqua">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tata Consultancy Services Ltd</td>
           </tr>
           <tr>
           <td>Policy Number</td>
       
           <td class="text-aqua">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;920000/34/15/04/00000001</td>
           </tr>
           <tr>
           <td>Policy Period</td>

           <td class="text-aqua">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;01 Apr 2015To  31 Mar 2016</td>
           </tr>
           </table>
                </div>
              </div>
            </div>
             </div>
             <div class="row">
             <div class="col-md-12">
              <div class="box box-solid">
                
                <div class="box-header with-border">
                
                  <h3 class="box-title text-light-blue">Defined benefits</h3>
                </div>
           
                <div class="box-body">
                 <table border="1" width="100%">
          <tr>
          <td>
          <h5 class="text-aqua">Eligible room category</h5>	 
 	 	Highest eligible room category for employees and beneficiaries is entry level single Occupancy AC room at the time of hospitalisation. In case of hospitalisation in a room category higher than this, the employee will have to bear the excess amount (in case of emergency also) that is proportionately higher under all bill items in the final hospital bill
          </td>
           </tr>
           <tr>
           <td>
          
         <h5 class="text-aqua">Maternity Benefits	</h5>
 	A	The total amount payable for any maternity related hospitalization followed by hospitalization resulting in normal delivery/ instrumental delivery (forceps/ vacuum/etc)	 
 	 	will be limited to Rs 50,000/- for the entire maternity related hospitalization episode.	 
 	B	The total amount payable for the maternity related hospitalization followed by hospitalization resulting in C-section delivery will be limited to Rs. 75,000/- for the entire maternity related hospitalization episode.
           </td>
           </tr>
           <tr>
           <td>
             <h5 class="text-aqua">Cataract Treatment	 </h5>
 	 	An upper limit on Hospitalization expenses (including higher hospitalization) has been defined at Rs 30,000/- towards correction of cataract in a single eye. This is inclusive of all the expenses incurred towards correction of cataract including the lens charges and pre and post hospitalization expenses, if any.</td>
       
           
           </tr>
           <tr>
           <td>
           <h5 class="text-aqua">Joint Replacement</h5>	 
 	 	The upper limit for Single Joint Replacement is Rs 2,30,000/- in a single Hospitalization and Rs 3,60,000 for Bilateral Joint Replacement in a single Hospitalization. The limits are inclusive of pre and post hospitalization expenses (if any) incurred one month prior and post the hospitalization.</td>

           
           </tr>
            <tr>
           <td>
           <h5 class="text-aqua">Hysterectomy</h5>	 
 	  
 	 	The total amount payable for Hysterectomy will be Rs.75000/-. The is inclusive of pre and post hospitalization expenses (if any) incurred one month prior and post the hospitalization.
           </tr>
           </table>
                 </div> 
              </div>
            </div>
            </div>


        

      

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <div footer-widget></div>
     
      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    
